<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.example.boardMapper">


	<select id="todayWork" resultType="WorkProcessVO">
		<![CDATA[SELECT * FROM w_data where deviceId=#{deviceId} ORDER BY bno DESC LIMIT 0,1]]> 
	</select>

 	<select id="wList" resultType="WorkProcessVO">
		<![CDATA[SELECT * FROM w_data where deviceId=#{deviceId} ORDER BY bno DESC ]]> 
	</select>
   
</mapper>
