<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.example.MemberMapper">


  <insert id="register">
    INSERT INTO user(deviceId, userId, userPw, userHeight, userGender, userAge, userWeight) 
    VALUES (#{deviceId},#{userId},#{userPw},#{userHeight},#{userGender},#{userAge},#{userWeight})
  </insert>
 
  <select id="loginCheck" resultType="MemberVO">
  	SELECT * FROM user WHERE userId=#{userId}
  </select>
  
   
  <!-- 
  <select id="read" resultType="BoardVO">
  	SELECT * FROM tbl_board WHERE bno=#{bno}
  </select>

	<insert id="update">
	UPDATE tbl_board SET title=#{title},contents=#{contents} WHERE bno=#{bno}
	</insert>
	
	<delete id="delete" >
	DELETE From tbl_board WHERE bno=#{bno}
	</delete>

	<select id="listAll" resultType="BoardVO">
	<![CDATA[SELECT * FROM tbl_board where bno>0 ORDER BY bno DESC]]> 
	</select>
	
	<select id="listPage" resultType="BoardVO">
	<![CDATA[SELECT * FROM tbl_board where bno>0 ORDER BY bno DESC limit #{pageStart},#{perPageNum}]]> 
	</select>
  
  	<select id="countPage" resultType="int">
  	<![CDATA[SELECT COUNT(*) FROM tbl_board WHERE bno>0]]>
  	</select>
  	
  	<select id="listSearch" resultType="BoardVO">
	<![CDATA[SELECT * FROM tbl_board where bno>0 ]]> 
	
	<include refid="search"></include>
	
	 
	 <![CDATA[ ORDER BY bno DESC limit #{pageStart},#{perPageNum}]]> 
  	</select>
  	
  	<select id="listSearchCount" resultType="int">
  	<![CDATA[SELECT COUNT(*) FROM tbl_board WHERE bno>0]]>
  	
  	<include refid="search"></include>
  	
  	</select>
  
  
	<sql id="search">
	  <if test="searchType != null" > 
		   <if test="searchType == 't'.toString()">
		     and title like CONCAT('%', #{keyword}, '%')
		   </if>
		   <if test="searchType == 'c'.toString()">
		     and contents like CONCAT('%', #{keyword}, '%')
		   </if>
		   <if test="searchType == 'w'.toString()">
		     and writer like CONCAT('%', #{keyword}, '%')
		   </if>     
		   <if test="searchType == 'tc'.toString()">
		     and ( title like CONCAT('%', #{keyword}, '%') OR contents like CONCAT('%', #{keyword}, '%'))
		   </if>        
		   <if test="searchType == 'cw'.toString()">
		     and ( contents like CONCAT('%', #{keyword}, '%') OR writer like CONCAT('%', #{keyword}, '%'))
		   </if>        
		   <if test="searchType == 'tcw'.toString()">
		     and (   title like CONCAT('%', #{keyword}, '%') 
		           OR 
		             contents like CONCAT('%', #{keyword}, '%') 
		           OR 
		             writer like CONCAT('%', #{keyword}, '%'))
		   </if>              
		 </if>  
	</sql>
   -->
</mapper>
